body {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  text-align: center;
  background-image:url(http://upload.wikimedia.org/wikipedia/commons/c/c5/PIA08409_North_Polar_Region_of_Enceladus.jpg);
  background-size: 1000px;
  background-color: black;
  background-origin: border-box;
  background-attachment: local;
  background-position: -500px, 0px;
  background-repeat: no-repeat;
  text-shadow: 0 4px 6px black;
  margin: 2em;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-weight: 200;
  font-size: 4em;
  letter-spacing: .4em;
  display:inline;
  color: #fff;
}

#pink-border {
  border: #FF00FF solid 2px;
  padding: .5em;
  width: 66%;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

#table {
  font-weight: 100;
  letter-spacing: .11em;
  text-align: left;
  font-size: 1em;
  width: 80%;
  margin-right: 9%;
  margin-left: auto;
  margin-top: 3em;
  border-collapse: collapse;
  padding: 2em;
  border-radius: .2em;
  color: #fff;
}

.fa {
  margin: .1em;

}

p {
  font-size: 1.5em;
  color: #fff;
}

.dots {
  display: inline;
  margin: 3em;
  font-size: 1em;
  color: #fff;
  letter-spacing: 2em;

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  body {
  }
}


@media (max-width: 600px) {
  header {

    text-align: center;
    position: relative;
    margin-top: 2em;
    margin-left: 0px;

  }

  #table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

a:hover, h2:hover, #a:hover, #b:hover, #c:hover, #d:hover, #e:hover, #f:hover, #g:hover, #h:hover, #i:hover {
  color: #FF00FF;
}

table, th, td {
  padding: 1em;
}
