
header {
    text-align: left; 
    font-family: Ubuntu;
    color: #CCCCFF;
    background-color: black;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border-top: 16px solid #d9b860;
    border-bottom: 16px solid #d9b860;
    margin-left: -8px;
    margin-right: -10px;
    padding-left: 2em;
    width: auto;

}

body {
    background-color: lightgray;
}


.icons {
    float: right;
    margin: 10%;
}


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

article {
    font-family: Garamond, serif;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    margin: 5%;
    padding: 5%;
}

footer {
    border-top: 8px solid #d9b860;
    border-bottom: 8px solid #d9b860;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: Ubuntu;
    color: #CCCCFF;
    background-color: black;
}    